#evaluacion{
    position: center;
    background-color: #ffffff;
    border-radius: 20px;
    color:  #ff5900;
    margin-top: 50px;
    padding: 50px;
}

#h1{
    margin-left: 100px;
    margin-right: 100px;
    color:  #ff5900;
}

#leonel{
    margin-left: 90px;
    margin-bottom: 0px;
}

#btr{
    background-color: black;
    margin-left: 200px;
    width: 300px;
}

#h3{

    color:  #ff5900;
    margin-left: 150px;
}

@media (max-width: 768px) {
    #evaluacion {
      margin: 20px; 
      padding: 20px; 
    }
  
    #h1, #leonel, #btr, #h3 {
      margin-left: 20px; 
      margin-right: 20px; 
      width: 300px;
    }

  }