
#img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
  
  #img img {
    max-width: 80%;
    height: 80%;
    margin-left: 55px;
  }
  #imgboton{
    margin-left: 180px;
    margin-bottom: 50px;
    background-color: black;
    color: #fff;
  }
  
  #criterios {
    color: #ff5900;
    margin-top: 50px;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    
  }

  
  #criterios li {
    margin-bottom: 10px;
  }
  
  #criterios ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  #criterios label {
    display: flex;
    
  }
  
  #criterios input[type="checkbox"] {
    margin-right: 5px;
    width: 14px;
    height: 14px;
  }
  

#divpunto{
    margin-top:20px;
    margin-bottom: 50px;
}

#todo{
    margin-top: 100px;
    border-radius: 20px;
    background-color: #fff;
    width: auto;
    height: auto;
}

#total{
  color: black;
  margin-bottom: 20px;
  margin-left: 285px;
}

#categoriacriterio{

  color: black;
  align-items: center;
}

#envio{
  margin-left: 270px;
  margin-bottom: 60px;
  background-color: black;
  color: #fff;
}
