#divrubrica{
    background-color: #fff;
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px;
    
}

#rubricat{
    color: black;
}

#botonc{

   color: white;
   background-color: green;


}

#botone{

    color: #fff;
    background-color: red;
}

#bcategoriacriterio{

    background-color: green;
    color: #fff;
    margin-bottom: 20px;
}