#titulo {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
}

body{
  overflow-x: hidden;
}


#form {
  margin-top: 50px;
  border-radius: 20px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: flex;
  width: flex;
  color: #000000;
  overflow:hidden;
 
}
  
  label {
    display: block;
    margin-bottom: 20px;
    margin-top: 15px;
    font-weight: bold;
    color: #000000;
    overflow: hidden;
  }
  
  input[type="text"],
  input[type="email"],
  select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    overflow: hidden;
  }
  
  button {

    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000;
  }
  
  #submit{
    margin-top: 30px;
    background-color: #28a745;
    margin-left: 120px;
    margin-bottom: 20px;
  }
  
  #rubric {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #000000;
  }

  #category{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #000000;
  }
  
 input{

    height: 50px;
    width: 100px;
    margin-bottom: 10px;
 }

 #bparticipante{

    margin-bottom: 20px;
 }

 #sub
 {
    margin-bottom: 15px;
 }

 


 #participantes
 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    
 }

#categoria{

  margin-left: 30px;
  margin-right: 30px;

}

#rubrica
{
  
 margin-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

#link
{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
}

#inputarchivo
{
 margin-top: 20px;

}

#archivo
{
  border-radius: 20px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}


#botonarchivo {

  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #000;
  color: #fff;
}
