#contenedor {
    margin-top: 10%; 
    background-color: #fff;
    padding: 5%;
    border-radius: 20px;
    padding-right: 5%;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }
  
  #grafica { 
    border: 1px solid black;
    padding: 5%;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
  }
  
  #titulo {
    text-align: center;
    color: black;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 3%;
  }
  

  

 
.export__file2 .export__file-btn2 {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(../assets/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
    margin-left: 450px;
   
    margin-bottom: 0;
}

.export__file2 .export__file-btn2:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file2 input {
    display: none;
}

.export__file2 .export__file-options2 {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file2 input:not(checked) + .export__file-options2 {

    transform: scale(.8);
}

.export__file2 input:checked + .export__file-options2 {

    transform: scale(1);
    z-index: 100;
}

.export__file2 .export__file-options2 label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file2 .export__file-options2 label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file2 .export__file-options2 img{
    width: 2rem;
    height: auto;
    
}

#export1 {

    background-color: black;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 20px;
}

#exportbt{
    background-color: black;
    color: #fff;
    margin-left: 80px;
    margin-top: 20px;
}

#correo{

    margin-left: 0px;
}

#btenviar{
    background-color: black;
    color: #fff;
    margin-left: 200px;
}

#detalles{

    height: 100px;
    width: 600px;
}

#input-adjuntar-archivo{

    margin-top: 40px;
}

#deleteButton{

    background-color: black;
}

#botoneliminar{
    background-color: black;
    margin-top: 15px;
    margin-left: 30px;
}